.hero__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;


}

.hero__card{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    gap: 10px;


    h2 {
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.2;
    }
    p {
        max-height: 4em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.2;
    }


    img {
        width: 100%;
        display: block;
        height: auto;
        object-fit: contain;
        aspect-ratio: 1;
        
      
      }

}
